$primary-color: #09f;
$second-color: #095;
$label-color: #333;


h1 {
	color: $primary-color;
}

h2{
	color: $second-color;
}

h3 {
	color: $primary-color;
}

h4 {
	color: $second-color;
}

h5 {
	color: $second-color;
}

h6 {
	color: $second-color;
}

span {
	color: $primary-color;
}

label {
	color: $label-color;
}